# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment
.env

# Build
dist/

# Database
*.db
*.db-journal
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
